/* styles.css */
.faq {
    border: 1px solid #ddd;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  .faq-title {
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .faq-title .icon {
    margin-right: 10px;
  }
  
  .faq-content {
    padding: 10px;
    display: none; /* Hidden by default */
  }
  
  .faq.open .faq-content {
    display: block; /* Show when .faq has 'open' class */
  }
  
  .faq.open .icon {
    transform: rotate(90deg); /* Rotate icon when open */
  }
  

  @media (max-width: 599px){
    .grid-2{
        grid-template-columns: repeat(1, 1fr) !important;
    }
  }